{% if not appointments %}
<p>You dont have any appointments</p>
{% else %}
    {% for appointment in appointments %}
        <p><b>Appointment number: {{ appointment.AppID }}</b></p>
        {{ appointment }}
        <p>
            {% csrf_token %} 
            <span
            style="color: rgb(228, 19, 19); cursor: pointer;"
            hx-delete="{% url 'delete-appointment' appointment.pk %}"
            hx-target="#pageinfo"
            hx-confirm="Are you sure wish to delete this appointment?"
            >Delete an appointment
            </span> |
            {% if not appointment.paid %}
            <a
            style="color: blue; cursor: pointer;"
            hx-get="{% url 'order' appointment.pk %}"
            hx-target="#aboveline"
            >Pay for an appointment
            </a>
            {% else %}
            Already paid!
            {% endif %}
        </p>
        <br/>
    {% endfor %}
{% endif %}
<p>
    <a
        style="color: blue; cursor: pointer;"
        hx-get="{% url 'user-details' %}"
        hx-target="#aboveline"
        >Back to my info
        </a>
</p>
