<p>
    <a 
    style="color: blue; cursor: pointer;"
    hx-get="{% url 'user-details' %}"
    hx-target="#aboveline"
    >Back
    </a>
</p>
{% block back %}
<form>{% csrf_token %}
    {% if accounts|length == 2 %}
        <p>You already have all accounts</p>
    {% else %}
    <select name="account-type">
        {% if not accounts %}
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
        {% else %}
            {% for account in accounts %}
                {% if account.Account_Type == 'Debit' %}
                    <option value="Credit">Credit</option>
                {% else %}
                    <option value="Debit">Debit</option>
                {% endif %}
            {% endfor %}
        {% endif %}
    </select>
    <div>
        <br/>
        <button hx-post="{% url 'create-account' %}" hx-target="#aboveline">Create</button>
    {% endif %}
    </div>
</form>
{% endblock back %}