{% extends 'create-account.html' %}

{% block back %}
{% if accounts %}
    <ul>
        {% for account in accounts %}
            <li
            style="cursor: pointer;"
            hx-get="{% url 'account-details' account.pk %}"
            hx-target="#accounts"
            ><b>{{ account.Account_Type }}</b>
            </li>
            <p></p>
        {% endfor %}    
    </ul>
    <p>Click any account to get additional information.</p>
{% else %}
<p 
    >You dont have any accounts.
    <span
    style="color: blue; cursor: pointer;"
    hx-get="{% url 'create-account' %}"
    hx-target="#accounts"
    hx-trigger="click"
    >Wanna create one?
    </span>
</p>
{% endif %}
{% endblock back %}