{% extends 'base.html' %}
{% block content %}
<div id="aboveline">
    <h3>
        <a 
        style="color: blue; cursor: pointer;"
        hx-get="{% url 'home' %}"
        hx-target="#main"
        >Back to a home page
        </a>
    </h3>
    <br/>
    <div id="pageinfo">
        <div>
            <p>
                <b>First name:</b> {{ fname }}
            </p>
            <p>
                <b>Last name:</b> {{ lname }}
            </p>
            <p>
                <b>Email address:</b> {{ email }}
            </p>
            <p>
                <b>Mobile phone:</b> {{ mobile }}
            </p>
        </div>

        <p>
            <a 
            style="color: rgb(177, 23, 223); cursor: pointer;"
            hx-get="{% url 'user-appointments' %}"
            hx-target="#pageinfo"
            >My appointments
            </a>
        </p>
        <hr> 
        <p>
            <a 
            href="{% url 'password_reset' %}"
            style="color: blue; cursor: pointer;"
            >Change password
            </a>
        </p>
        <div>
            <a
            style="color: rgb(221, 29, 29); cursor: pointer;"
            hx-delete="{% url 'delete-user' user.pk %}"
            hx-target="#main"
            hx-confirm="Are you sure want to delete this account? This action cannot be undone!"
            >Delete profile
            </a>
        </div>
    </div>
</div>
{% endblock content %}